.header__logout-icon {
  filter: brightness(0) invert(1);
  vertical-align: middle;
  width: 20px;
  height: 20px;
}
.header {
  position: absolute;
  top: 39px;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 0 104px;
  display: flex;
  justify-content: center;
  pointer-events: auto;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1279px;
  height: 80px;
  background-color: transparent;
  padding: 0 6.5rem;
  box-sizing: border-box;
  box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  border: 1px solid transparent;
}

.header__container--saved {
  box-shadow: 0px -1px 0px 0px rgba(209, 210, 214, 1) inset;
}

.header__link-title.header__nav--saved,
.header__link-title--saved {
  color: #1a1b22 !important;
}
.header__button.header__nav--saved,
.header__button--saved {
  color: #1a1b22 !important;
  border-color: rgba(26, 27, 34, 0.5);
}

.header__container--saved .header__title--saved {
  color: rgba(26, 27, 34, 1) !important;
}

.header__content {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  min-height: 80px;
  margin: 0 auto;
}

.header__title {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  line-height: 24px;
  text-decoration: none;
}
.header__link-title {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.header__underline {
  width: 68px;
  height: 3px;
  background: rgba(255, 255, 255, 1);
  position: relative;
  top: 26px;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 2.62rem;
}

.header__button {
  width: 179px;
  border-radius: 100px;
  border: solid 1px rgba(255, 255, 255, 0.5);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  background: transparent;
  padding: 12px;
}

.header__menu-icon {
  display: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 700px) {
  .header {
    min-width: 320px;
    min-height: 56px;
    padding: 16px 16px;
  }

  .header__image {
    width: 100%;
    max-width: none;
  }

  .header__content {
    flex-direction: column;
    text-align: center;
    width: 320px;
    height: 536px;
  }

  .header__title {
    font-size: 20px;
  }

  .header__logo {
    width: 32px;
    height: 32px;
  }

  .header__button {
    display: none;
  }
  .header__link-title {
    display: none;
  }

  .header__menu-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: no-repeat center center;
    background-size: contain;
    cursor: pointer;
    margin-left: auto;
  }
}
